/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap');

/* Font header & bodies default */ 

h1 {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 25px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* -------------------------------------------------------------Special maragins & Paddings*/

.inline-block {
    display: inline-block;    
}

/* -------------------------------------------------------------Header*/

.logo {
    height: 90px;
    width: 90px;
    margin-right: 25px;
}

#header-body {
    margin-top: -20px;
    margin-bottom: -10px; 
    background-color: #4C9F70;
}

/* Special padding & margins */ 

/* -------------------------------------------------------------Hero Section  */

.jumbotron { 
    height: 100vh;
    background: url(../img/Hero\ Image.jpg) no-repeat content-box center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* -------------------------------------------------------------images */

.image-selector {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.square {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

/* -------------------------------------------------------------Carasol CSS*/

.carousel-item {
    background-color: orange;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    
}

.pagination {
    padding-bottom: 30px;
}
/* -------------------------------------------------------------Gallery CSS credit to Monika Patel, soruced from code pen*/

.row > div {
    padding: 0 4px !important;
}

img {
  margin-top: 8px;
  vertical-align: middle;

}

/* ---------------------------------------------------------------------------------Footer*/

.footer-background {
    background: url('../img/footer/bg-footer.jpg') no-repeat center;  
    margin-top: 20px; 
    background-position: bottom center;
    object-fit: contain;
    height: 200px;
}

.overlay {
   background: rgba(205,204,204,0.3);
   height: 100%;
   padding: 32px 16px 16px 16px;
}

.footer-email{
    margin-top: 10px;
    width: 100%;
    position: inline;
    border-width: 2px;
    border-color: #1E757C;
}

.subscribe {
    color: #F2F2F2;
    font-weight: 300;
}

.social-links {
    margin-left: 350px;
    margin-top: 10px;
    position: inline;
}

.btn-subscribe {
    font-size: 15px;
    color: #F2F2F2;
    background: #4C9F70;
    border: 2px;
    border-color: #F2F2F2;
    border-radius: 5px;
    padding: 8px;
}

.btn-subscribe:hover {
    background: #1E757C;
    border-color: #F2F2F2;
}

/* ---------------- utilised and sourced from CI resume project */

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    color: #4C9F70;
    background: #CDCCCC;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #1E757C;
}

.copywrite {
    color: #F2F2F2;
    margin-top: 10px;
}

/* ---------------------------------------------------------------------------------Media Queries*/

/* ---------- MQ-Footer*/

@media(min-width: 320px) {
    .footer-background {
        height: 300px;
    }
    .social-links, .form-footer, .subscribe {
        text-align: center;
        margin: 0;
    }
    .subscribe { 
        margin-bottom: 15px;
    }
    .btn-subscribe {
        font-size: 14px;
    }
    .copywrite {
        font-size: 11px;
    }
}