/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap');

/* Font header & bodies default */ 

h1 {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 25px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Special padding & margins */ 

/* Hero Section  */

.jumbotron { 
    height: 100vh;
    background: url(../img/Hero\ Image.jpg) no-repeat content-box center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}