/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500;600&display=swap');

/*---------------------------------------------------------------- Font header & bodies default */ 

h1,h2 {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
}

.white {
    color: #ffffff;
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blue {
    color: #1E757C;
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #C4CBCA;
}

/* -------------------------------------------------------------Special maragins, Paddings & Backgrounds*/

.inline-block {
    display: inline-block;    
}

.block-paddings {
    padding: 2em;
}

.color-bg {
    background-color: #496F5D;

}

.margin-top {
    margin-top: 60px;
}

.hide-content {
    display: none;
}



/* -------------------------------------------------------------Header*/

.logo {
    height: 50px;
    width: 50px;
    margin: 10px;
}

#header-body {
    background-image: url(../img/logo/logo@4x.png);
    position: absolute;
    background-color: rgba(73,111,93,0.6);
    padding-top: 3em;
    z-index: 1;
}

.nav-link {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.nav-link:hover {
    color: #fff;
    background-color: #1E757C;
    border-radius: 5px;
}

.navbar-nav .nav-link.active {
    color: #C4CBCA;
    text-decoration: underline;
    animation: forwards;
}

.btn, .btn:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #496F5D;
    border: 2%;
    border-color: #ffffff;
    border-radius: 5px;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #1E757C;
    background-color: transparent;
    border: var(--bs-border-width) solid;
    border-color: #1E757C;
    border-width: 3px;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

/* -------------------------------------------------------------Hero Section  */

.hero-container { 
    height: 100vh;
    margin-top: -22px;
    background: url(../img/home/hero_image.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.d-overlay {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.333);
}

.hero-text {
    color: #F2F2F2;
      
}

.hero-text h1 {
    font-size: 60px;
}

.hero-text p {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    
}

/* -------------------------------------------------------------Select your vibe*/

.card-title {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px #1E757C;
}

.card-title:hover {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 25px;
    color: #1E757C;
    text-decoration: none;
    text-shadow: 2px 2px white;
}

.card {
    --bs-card-spacer-y: 30%;
    --bs-card-spacer-x: 30%;
}

.card-img-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    background-color: rgba(27,36,48,0.4);
    border-radius: 5px;
}

.card-img-body:hover {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    background-color: rgba(249,242,237,0.4);
    border-radius: 5px;
}


.card1 {
    background: url(../img/home/modern.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    height: 100%;
    width: 100%;
    border: none;
}

.card2 {
    background: url(../img/home/bohiem.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100%;
    width: 100%;
    border: none;
}

.card3 {
    background: url(../img/home/retro.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100%;
    width: 100%;
    border: none;
}


/* -------------------------------------------------------------How We Work */

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    background-color: rgba(27,36,48,0.4);
    border-radius: 5px;
}

.how1 {
    background: url(../img/home/rooftop_camper.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    height: 100%;
    width: 100%;
    border: none;
}

.how2 {
    background: url(../img/home/campfire.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    height: 100%;
    width: 100%;
    border: none;
}

.how3 {
    background: url(../img/home/tuscony.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    height: 100%;
    width: 100%;
    border: none;
}


/* -------------------------------------------------------------Carasol CSS*/

#gallery-top {
    padding-top: 6rem;
}

.testimonial-carousel { 
    height: 225px; }

.carousel-item { 
     height: 200px; 
     margin-bottom: 1em;
    }
    
.carousel-caption {
     position: absolute;
     right: 15%;
     bottom: 1.25rem;
     left: 15%;
     padding-top: 1.25rem;
     padding-bottom: 1.25rem;
     padding-left: 1rem;
     padding-right: 1rem;
     color: #fff;
     text-align: center;
     background-color: rgba(255,255,255,0.4);
     border-radius: 10px;
     color: #1E757C;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.review {
    font-size: 15px;
}

.profile {
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
    margin-top: 25px;
}

/* -----------------------------------------------Gallery CSS credit to Monika Patel, soruced from code pen*/

.gallery-padding {
    padding: 0 4px !important;
}

img {
  margin-top: 8px;
  vertical-align: middle;

}

/* ---------------------------------------------------------------------------------View van Page*/

.van-hero { 
    height: 100vh;
    margin-top: -22px;
    background: url(../img/view-vans/retro_hero.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
}

.nav-link-view-vans {
    font-family: 'Lobster', cursive, sans-serif;
    color: #ffffff;
    font-size: 50px;
    line-height: 2em;
    text-decoration: none;
    list-style-type: none;
}

.nav-link-view-vans:hover {
    color: #1E757C;
    text-shadow: 2px 2px white;
}

.title-vv {
    font-size: 45px;
    color: #C4CBCA;
    text-shadow: 2px 2px black;
}

.carousel-border {
    border-radius: 5px;
}

.content-text {
    color: #F2F2F2;
}

.green-content-text {
    color: #4C9F70;
}

.blue-content-text {
    color: #1E757C;
}

.black-content-text {
    color: black;
}

.single-sentence {
    font-size: 18px;
    text-transform: capitalize;
}

.btn-book-now {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 20px;
    color: #4C9F70;
    background-color: #CDCCCC;
    padding: 10px;
    border: 2%;
    border-color: #4C9F70;
    border-radius: 3px;
}

.btn-book-white {
    font-family: 'Lobster', cursive, sans-serif;
    font-size: 20px;
    color: #4C9F70;
    background-color: #ffffff;
    padding: 10px;
    border: 2%;
    border-color: #4C9F70;
    border-radius: 3px;
}

.title-vv-grey-bg {
    color: #1E757C;
    text-shadow: 2px 2px white;
    font-size: 45px;
}

/* ---------------------------------------------------------------------------------Contact Page*/

.image-contain {
    height: 50%;
    width: 80%;
}

.contact-padding {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.label-form {
    font-size: 18px;
    font-family: 'Lobster', cursive, sans-serif;
    color: #496F5D;
}

.form-content {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#contact-carousel img {
    border-radius: 10px;
}

.padding-image {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.hover-form:focus {
    border-width: 2px;
    border-color: #496F5D;
    outline: 0;
    box-shadow: none;
}

.hover-form:hover {
    border-width: 0px;
    box-shadow: 0 0 0 0.15rem rgba(30,117,124,0.2);
}

/* --------------------------------------------------------------------------------- T&C Page*/

.cancel-img { 
        height: 50vh;
        margin-top: -22px;
        background: url(../img/footer/bg-footer.jpg) no-repeat center top fixed;
        -webkit-background-size: contatin;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

.terms-margin {
    margin-top: 85px;
}

/* ---------------------------------------------------------------------------------Footer*/

.footer-background {
    background: url('../img/footer/bg-footer.jpg') no-repeat center;  
    margin-top: 20px; 
    background-position: top center;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.overlay {
   background: rgba(205,204,204,0.3);
   height: 100%;
   width: 100%;
}

.footer-margins {
    margin-top: 50px;
    padding: 2em;
}

.footer-email{
    margin-top: 10px;
    width: 100%;
    border-width: 2px;
    border-color: #1E757C;
    align-items: flex-start;
}

.subscribe {
    color: #F2F2F2;
    font-weight: 300;
}

.social-links {
    margin-top: 10px;
    position: inline;
}

.btn-subscribe {
    font-size: 15px;
    color: #F2F2F2;
    background: #4C9F70;
    border: 2px;
    border-color: #F2F2F2;
    border-radius: 5px;
    padding: 8px;
    margin-top: 11px;
    
}

.btn-subscribe:hover {
    background: #1E757C;
    border-color: #F2F2F2;
}

/* ---------------- utilised and sourced from CI resume project */

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    color: #4C9F70;
    background: #CDCCCC;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #1E757C;
}

.copywrite {
    color: #F2F2F2;
    margin-top: 10px;
}

/* -------------------------------------------------------------------------------------------Media Queries*/

/*-----------------Mobile-------------*/

@media(min-width: 320px) {

    #button-remove {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: medium;
        background-color: transparent;
        border: none;
        margin-bottom: 20px;
        padding: 0;
    }

    #sub-heading {
        text-align: center;
        margin-left: 0;
    }

    #steps {
        text-align: center;
        margin-top: 2rem;
        padding: 0;
    }

    .contact-padding {
        margin-top: 30px;
    }

    .footer-center {
        text-align: center;
    }
}


/*-----------------Tablet -------------*/

@media(min-width: 720px) {

    #sub-heading {
        text-align: start;
        margin-left: 2rem;
    }

    .p-start {
        padding-left: 3rem;
    }

    .p-end {
        padding-right: 3rem;
    }

    .social-links {
        text-align: end;
        margin-top: 60px;
    }

    .subscribe, .footer-email {
        text-align: left;
        margin: 10px 30px;
    }
}

/*-----------------Laptops Above -------------*/

@media(min-width: 992px) {
    .btn-subscribe {
        margin-right: 140px;
        }
}